.App {
  text-align: center;
  width: 85%;
  margin: auto;
  color: #242424;
  font-family: 'Arial', sans-serif;
  font-size: medium;
}

button {
  background-color: #0f374a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  margin: 2px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #122734;
}

.table-header {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto;
  padding: 10px;
  text-align: left;
  width: 100%;
  
  & .sort-by {
    font-size: 20px;
    font-weight:bold;

    & select {
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #242424;
      border-radius: 5px;
      font-size: 16px;
    }
  }
}

table {
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    border: 1px solid #24242455;

    &.wide {
      width: 10%;
    }
    &.narrow {
      width: 5%;
    }
    &.description {
      width: 15%;
    }
  }

  th {
    background-color: #0f4a49;
    color: white;
  }

  .action-col {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
  }

  .overdue {
    background-color: #e77070;
  }
  .today {
    background-color: #619f5b;
  }
  .week {
    background-color: #f2d16b;
  }
  .old {
    background-color: #e7a175;
  }
}

.key {
  align-self: center;

  span {
  padding: 2px 4px;
  border: none;
  border-radius: 5px;
  margin: 1px 2px;

  &.overdue {
    background-color: #e77070;
  }
  &.today {
    background-color: #619f5b;
  }
  &.week {
    background-color: #f2d16b;
  }
  &.old {
    background-color: #e7a175;
  }
}
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: auto;
  text-align: right;
  width: 33%;

  & input {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #242424;
    border-radius: 5px;
    font-size: 16px;
  }

  & label {
    font-size: 20px;
    font-weight:bold;
  }

  & .buttons {
    width: 100%;
    grid-column-end: span 2;
    display: flex;
    flex-wrap: nowrap;
  }

  & .med-name {
    color:#187150
  }
}

form.delete-form {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  text-align: left;
  margin: auto;
  
  & .buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}

.empty-meds{
  margin: auto;
  font-size: large;
}

.footer {
  margin: auto;
  font-size: small;

  & a {
    color: #242424;
    text-decoration: none;
  }
}
